#pagina{
    position: relative;
    width: 1440px;
    height: 960px;

    background: #F3F5F7;
}

#divprincipal{
    border: 2px solid;
    position: absolute;
    display: flex;
    width: 1116px;
    height: 800px;
    left:292px;
    top: 128px;
    background: #ffffff;
}

img{
    left: 275.33px;
    top: 25.33px;
    border: 2px solid #D3D9E6;
}

.bloco1{
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    height: 146px;
    left: 48px;
    top: 120px;
    gap: 79.33;
    border: 1px solid #D3D9E6;
    border-bottom: 1px solid #175CD3;
    
}
#bloco1{
    margin: 120px 24px 24px 48px;
}

#bloco2{
    margin: 120px 24px 24px 0;
}

#bloco3{
    margin: 120px 24px 24px 0;
}

.titulo{
    
    width: 164px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 76px 42px 32px;

    color: #273246;
}

img{
    width: 32px;
    height: 32px;
    margin: 25.33px 0 0 0;
}

.valor{
    width: 56px;
    height: 32px;
    margin: 0 0 24px 32px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;

    /* blue/principal */

    color: #175CD3;
}