.pag{
    position: relative;
    width: 1440px;
    height: 960px;
    margin: 40px;
    background: #F3F5F7;
}

.titulo{
    width: 1440px;
    height: 96px;
    display: block;
    background: #175CD3;
}


.titulo__tex{
    position: absolute;
    margin: 0;
    left: 92px;
    top: 32px;
    color: #FFFFFF;
}

.titulo__info {
    position: absolute;
    margin: 0;
    top: 35px;
    left: 1373px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: #FFFFFF;

}

.lateral{
    position: absolute;
    width: 260px;
    height: 864px;
    top: 96px;
    background:#FFFFFF ;
}

.lista{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.lista__item{
    width: 260px;
    height: 60px;
    list-style-type: none;
    margin-left: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #175CD3;
}

.lista__item--margin{
    margin-top: 32px;

}

.centroPag{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1116px;
    height: 800px;
    left:292px;
    top: 128px;
    background: #ffffff;
}

.tituloCen{
    display: flex;
    margin-top: 40px;
    margin-left: 48px;
    flex-basis: 100%;
}

.tituloCen__text{
    margin: 0;
    width: 287px;
    height: 40px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    letter-spacing: -0.02em;

    color: #273246;
}

.tituloCen__info{
    width: 76px;
    height: 26px;
    margin-top: 7px;
    margin-left: 657px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    text-align: right;
    letter-spacing: -0.02em;
    text-decoration-line: underline;


    color: #175CD3;
}

.bloco{
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    height: 146px;
    left: 48px;
    border: 1px solid #D3D9E6;
    border-bottom: 1px solid #175CD3;
    margin-top: 40px;
    margin-right: 24px;
    margin-bottom: 24px;
    
}

.bloco--marginleft{
    margin-left: 48px;
}

.bloco__titulo{
    
    width: 164px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 76px 42px 32px;

    color: #273246;
}

.bloco__img{
    width: 32px;
    height: 32px;
    margin: 25.33px 0 0 0;
    border: 2px solid #D3D9E6;
}

.bloco__valor{
    width: 56px;
    height: 32px;
    margin: 0 0 24px 32px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;

    letter-spacing: -0.02em;

    color: #175CD3;
}

.blocoinferior{
    width: 498px;
    height: 372px;
    border: 1px solid #D3D9E6;
    box-shadow: 0px 12px 20px -4px rgba(19, 43, 84, 0.5);
}

.blocoinferior--margin{
    margin: 0 24px 138px 48px;
}

.tabela{
    width: 434px;
    height: 290px;
    margin: 24px 32px 32px 32px;
    border-spacing: 0px;
}

.tabela--border{
    border-bottom: 1px solid #D3D9E6;
    
}

.tabela__titulo{
    text-align: left;
    margin-bottom: 24px;
    
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;

    letter-spacing: -0.02em;

    color: #273246;
}

.tabela__nome{
    text-align: left;
}

.tabela__primeiraColuna{
    width: 162px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #273246;
}

.tabela__segundaColuna{
    width: 68px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #273246;

}

.tabela__index{
    width: 8px;
    height: 24px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;

    color: #AFBBD0;
}
